
  <div class="span3">
      <ul class="thumbnails">
            <li class="span2">
              <a class="thumbnail" href="#">
                {% if profile.photo  %}
                  <img alt="{{ user.username }}" src="{{ MEDIA_URL }}{{ profile.photo }}">
                {% else %}
                  <img alt="{{ user.username }}" src="{{ MEDIA_URL }}{{ DEFAULT_PROFILE_PICTURE }}">
                {% endif %}
              </a>
            </li>
      </ul>
  </div>
  <div class="span4">
      <label for="id_username" class="label label-info">Username</label>
            {{ user.username }}<br \>
      <label for="id_password" class="label label-info">Password</label>
          {{ user.password }}<br \>
      <label for="id_email" class="label label-info">E-Mail</label>
          {{ user.email }}<br \>
  </div>
  <div class="span7">
    <br />
      <label for="id_first_name" class="label label-info">First Name</label>
          {{ user.first_name }}<br \>
      <label for="id_last_name" class="label label-info">Last Name</label>
          {{ user.last_name }}<br \>
      <label for="id_gender" class="label label-info">Gender</label>
          {{ profile.gender }}<br \>
  </div>

