<tr>
  <td class="span2">
    <ul class="thumbnails">
      <li class="span2">
        <a href="#" class="thumbnail">
          <img src="{{ user.photo.url }}" alt="" />
        </a>
      </li>
    </ul>
  </td>
  <td class="span2">
    <blockquote>
      {{ user.user.username }}
    </blockquote>
  </td>
  <td class="span2">
    <blockquote>
      "%d ortak arkadas"
    </blockquote>
  </td>
  <td class="span2">
    <blockquote>
      <a href="{% url friend_follow user.id %}">follow</a></p>
    </blockquote>
  </td>
</tr>
