{% extends "base/layout2.html" %}
{% load list %}
{% block right %}
  <div class="row">
    <div class="span9">
      <h2> User Search </h2>
      {% if users_list %}
        <table class="table table-striped">
          <tbody>
            {% for user in users_list %}
              {% include "userprofile/_search.html" %}
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="row">
          <div class="span9" style='height:50px'>
            <i>* fields are required. </i>
          </div>
        </div>
        <form class="form-Horizontal" action="{% url user_search %}" method="POST">
          {% csrf_token %}
          {% include "_form.html" %}
        </form>
      {% endif%}
    </div>
  </div>
{% endblock %}
