<table style="border-color:#000000" border=1>
  <tr bgcolor=#FF00FF>
    <td>Wish For</td>
    <td>Brand</td>
    <td>Name</td>
    <td>Description</td>
    <td>Category</td>
    <td>Request Date</td>
    <td>Accomplish Date</td>
    <td>Accomplish</td>
    <td>Edit</td>
    <td>Remove</td>
  </tr>
  {% for wish in wish_list %}
  <tr>
    <td>{{ wish.wish_for }}</td>
    <td>{{ wish.brand }}</td>
    <td><a href="{% url wish_show_wish_alone wish.id %}">{{ wish.name }}</td>
    <td>{{ wish.description }}</td>
    <td>{{ wish.category }}</td>
    <td>{{ wish.request_date }}</td>
    <td>{{ wish.accomplish_date }}</td>
    <td><a href="{% url wish_accomplish_wish wish.id %}">X</a></td>
    <td><a href="{% url wish_edit_wish wish.id %}">X</a></td>
    <td><a href="{% url wish_remove_wish wish.id %}">X</a></td>

  </tr>
  {% endfor %}
</table>
