{% extends "base/layout2.html" %}
{% block left %}
<table style="border-color:#000000" border=1>
  <tr bgcolor=#FF00FF>
    <td>Comment</td>
    <td>Wish Count</td>
  </tr>
  {% for wishlist in wishlists %}
  <tr>
    <td><a href="{% url list_wish wishlist.id %}">{{ wishlist.comment }}</a></td>
    <td>{{ wishlist.wish_set.all.count }}</td>
  </tr>
  {% endfor %}

</table>
<form action="{% url addWishlist%}" method="post">
  {% csrf_token %}
  {{ WishlistForm.as_table }}
  <input type="submit" value="Add Wishlist" />
{% endblock %}
