/wish4meUI/bin/
/wish4meUI/build
/wish4meUI/develop-eggs/
/wish4meUI/downloads/
/wish4meUI/eggs/
/wish4meUI/parts/
/wish4meUI/third-party/
*.installed.cfg
*.pyc
*~
*.orig
*.swp
*.db
.project
.pydevproject
.ropeproject
*.egg-info
/.settings
\#*\#
.\#*
