/wish4meUI/bin/
/wish4meUI/build
/wish4meUI/develop-eggs/
/wish4meUI/downloads/
/wish4meUI/eggs/
/wish4meUI/parts/
*.installed.cfg
*.pyc
*~
*.orig
*.swp
*.db
.project
.pydevproject
.ropeproject
*.egg-info
/.settings
\#*\#
.\#*
/com_facebook_android/bin/
/com_facebook_android/gen/
/wish4meAndroid/bin/
/wish4meAndroid/gen/
/UrlImageViewHelper/bin/
/UrlImageViewHelper/gen/
/wish4meUI/wish4meUI/media/photos/