{% extends "base/layout1.html" %}
{% load list %}

{% block left %}
    <div class="container">
      <div class="row">
        <div class="span7">
          <div class="hero-unit">
          <h3><img src="/site_media/images/gift.jpg"/>Welcome to Wish4me.</h3>
          <p>
              Share your wishes. See your friends' wishes, accomplish them.
          </p>
          </div>
        </div>
        <div class="span8">
          {% create_list "Recent Wishes" recent_wishes "[{'description': {'width': 6},}]" %}
        </div>
      </div>
    </div> <!-- /container -->
{% endblock %}

{% block right %}
  <div class="row">
  <ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Login with</a>
  </li>
  <li>
    <a href="#">or Create an account</a>
  </li>
  </ul>
    <div class="span2">
      <a href="javascript: openwindow('{% url facebook_login %}')">
        <img src="/site_media/images/social-logos/facebook.png"/>
      </a>
    </div>
    <div class="span2">
      <a href="javascript: openwindow('{% url openid-login %}')">
        <img src="/site_media/images/social-logos/google-openid.png"/>
      </a>
    </div>
    <div class="span2">
      <a href="javascript: openwindow('{% url twitter_oauth_auth %}')">
        <img src="/site_media/images/social-logos/twitter.png"/>
      </a>
    </div>
    <div class="span2">
      <a href="javascript: openwindow('{% url foursq_oauth_auth %}')">
        <img src="/site_media/images/social-logos/foursquare.png"/>
      </a>
    </div>
  </div>
{% endblock %}

