    <div class="row well">
  <div class="row" style="">
    <div class="pull-right label span1 offset9"><a href="#">{{wish.related_list.title }}</a></div>
  </div>
  <div class="row">
    <div class="span5"><h3><a href="{% url show-wish wish.id %}">{{wish.brand.title }} - {{ wish.name.title }}</a></h3></div>
    <div class="span4">
      <span class="pull-right">
        <i>created by <a href="{% url specific-friend-activity wish.related_list.owner.id %}">{{wish.related_list.owner}}</a></i><i> to <a href="{% url specific-friend-activity wish.wish_for.id %}">{{ wish.wish_for }}</a></i>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="span3">
      <ul class="thumbnails" id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">

        {% if not wish.getPhotos %}
          <li class="span3">
            <div class="thumbnail" title="No images defined">
              <img src="/site_media/images/no-image.gif" alt="#{{ forloop.counter }} {{ wish.description }}" /></img>
            </div>
          </li>
        {% endif %}

        {% for photo in wish.getPhotos %}
          <li class="span{% if forloop.first %}3{% else %}1{% endif %}">
            <a href="{{ photo.photo.url }}" class="thumbnail" rel="gallery" title="{{ forloop.counter}} {{ wish.description }}">
              <img src="{{ photo.photo.url }}" alt="#{{ forloop.counter}} {{ wish.description }}" /></img>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="span6"><p>{{ wish.description }}</p></div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <hr>
    <div class="span6">{% if wish.location %}<p>{{ wish.location.name }}</p>
                        <p>{{ wish.location.address }} / {{ wish.location.country }}</p></div>{% endif %}
  </div>
  <div class="span4 offset6">
  {% if wish.wish_for != user %}
    <a href="{% url wish_add_to_my_wishes wish.id %}" class="btn btn-primary" type="button"><i class="icon-ok"></i>Add to My Wishes</a>
  {% else %}
        <a href="{% url wish_edit_wish wish.id %}" class="btn btn-warning" type="button"><i class="icon-ok"></i>Edit</a>
      <a href="{% url wish_remove_wish wish.id %}" class="btn btn-danger" type="button"><i class="icon-ok"></i>Remove</a>
  {% endif %}
    {% if not wish.is_accomplished %}
      <a href="{% url wish_accomplish_wish wish.id %}" class="btn btn-success" type="button"><i class="icon-ok"></i>Accomplish</a>
    {% else %}
      <span class="label label-success">Accomplished</span>
    {% endif %}
  </div>
  {% load comments %}
  <div class="row">
    <div class="span3">
      {% get_comment_count for wish as comment_count %}
      <p><a href="{{ BASE_URL }}/wish/{{ wish.id }}/show#comment">{{ comment_count }} comments have been posted.</a></p>
    </div>
  </div>
</div>
</div>

{% if user == wish.related_list.owner and not wish.is_accomplished %}
  {% for accomplish in wish.accomplishes %}
    {% include "wish/_accomplish.html" %}
  {% endfor %}
{% endif %}
