{% extends "base/layout2.html" %}
{% block right %}
  {% if dont_show_add_wish_button %}
  {% else %}
	  <div class="row well">
	    <div class="span5 offset3">
	      {% include "wish/_add_wish_button.html" %}
	    </div>
	  </div>
  {% endif %}
  <div class="row" style="height:10px">
  </div>
  {% if activity_state %}
    <div class="span5 offset2">
    <img src="{{ MEDIA_URL }}{{ activity_state }}">
    </div>
  {% else %}
  {% for wish in wishes %}
    {% include "wish/_gallery_snippet.html" %}
    {% include "wish/_detail.html" %}
  {% endfor %}
  {% endif %}


{% endblock %}
