{% extends "base/layout2.html" %}
{% block right %}
  <div class="row" style='height:50px'><i>* fields are required. </i></div>
  <form class="form-vertical" action="{% url add-wish %}" enctype="multipart/form-data" method="POST">
  <div class="container">
    <div class="span4">
      {% csrf_token %}
      {% include "_form.html" %}
      {{ wish_photo_set_form.management_form.as_table }}
    </div>
    <div class="span4 well">
      <h3><i class="icon-picture"></i> Photos of wish </h3>
      {% for form in wish_photo_set_form.forms %}
        {% include "_form.html" %}
      {% endfor %}
    </div>
  </div>
    <hr>
    <input class="btn btn-primary" type="submit" value="Submit" />
  </form>
{% endblock %}
