{% if wish %}
<div class="well row" style="width: 630px;">
<span class="label span1" style="margin-left: 0px;">{{ wish.related_list.owner }}</span>
<span class="label span3">{{ wish.brand }} {{ wish.name }} </span>
<span class="label span2" style="width: 100px;">{{ wish.related_list.title }}</span>
<span class="label span1">{{ wish.wish_for }}</span>

<br>
<ul class="thumbnails" style="margin-left: 0px; width: 250px; margin-top: 10px;">
    <li class="span2">
    <div class="thumbnail" style="width: 200px;">
    <img src="http://placehold.it/200x200" alt="">
    </div>
    </li>
    <li class="span1" style="width: 30px;">
    <div class="thumbnail" style="padding: 0px; border-width: 0px; width: 30px;">
    <img src="http://placehold.it/30x30" alt="">
    </div>
    </li>
    <li class="span1" style="width: 30px;">
    <div class="thumbnail" style="padding: 0px; border-width: 0px; width: 30px;">
    <img src="http://placehold.it/30x30" alt="">
    </div>
    </li>
    <li class="span1" style="width: 30px;">
    <div class="thumbnail" style="padding: 0px; border-width: 0px; width: 30px;">
    <img src="http://placehold.it/30x30" alt="">
    </div>
    </li>
    <li class="span1" style="width: 30px;">
    <div class="thumbnail" style="padding: 0px; border-width: 0px; width: 30px;">
    <img src="http://placehold.it/30x30" alt="">
    </div>
    </li>
<!--{% for photo in wish.wish_photo_set.all %}
    <li class="span3">
    <div class="thumbnail">
    <img src="{{ photo.photo.url }}/260x180" alt="">
    <h5>Thumbnail label</h5>
    <p>Thumbnail caption right here...</p>
    </div>
    </li>
{% endfor %}-->
</ul>
<span class="label span3 offset3">{{ wish.description }}</span>

</div>
{% endif %}
