{% include "include/header.html" %}
{% block content %}
         <div class="grid_5">
                    <div class="box">
                        <p></p>
                    </div>
          </div> 
         <div class="grid_5">
                    <div class="box">
                        <p></p>
                    </div>
          </div> 
         <div class="grid_6">
                    <div class="box">
                        <p></p>
                    </div>
          </div> 
{% endblock %}
{% include "include/footer.html" %}
