<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>Wish4me :: {{ title }} </title>
  <link rel="stylesheet" type="text/css" href="/static/css/v1/main.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/v1/nav.css" />
  <script src="/static/js/libs/jquery-1.6.2.min.js" type="text/javascript" charset="utf-8"> </script>
  <script src="/static/js/libs/jquery.hoverIntent.minified.js" type="text/javascript" charset="utf-8"> </script>
  <script src="/static/js/v1/nav.js" type="text/javascript" charset="utf-8"> </script>
</head>

<body>

<!-- Begin Wrapper -->
<div id="wrapper">
  <!-- Begin Header -->
  <div id="header">
    <img src='/static/images/logo.png' />
  </div>
  <!-- End Header -->

  <!-- Begin Navigation -->
  <div id="navigation">
      <ul id="menu">
        <li>
          <h2>
            <a href="#">Home</a>
          </h2>
          <div>
            Latest news, special deals, and more...
          </div>
        </li>
        <li class="mega">
          <h2>
            <a href="#">Stuff for him</a>
          </h2>
          <div>
            <h3>
              Menswear
            </h3>
            <p>
              <a href="#">Shirts</a>, <a href="#">T-shirts</a>, <a
href="#">Accessories</a>, <a href="#">More...</a>
            </p>
            <h3>
              Gifts
            </h3>
            <p>
              <a href="#">Sporting goods</a>, <a href="#">Gadgets</a>, <a
href="#">More...</a>
            </p>
            <h3>
              Clearance!
            </h3>
            <p>
              40% off all photo accessories this weekend only. <a
href="#">Don't miss out!</a>
            </p><a href="#" class="more">More stuff for him...</a>
          </div>
        </li>
        <li class="mega">
          <h2>
            <a href="#">Stuff for her</a>
          </h2>
          <div>
            <h3>
              Ladieswear
            </h3>
            <p>
              <a href="#">Tops</a>, <a href="#">Pants</a>, <a
href="#">Skirts</a>, <a href="#">T-shirts</a>, <a href="#">More...</a>
            </p>
            <h3>
              Gifts
            </h3>
            <p>
              <a href="#">Sporting goods</a>, <a href="#">Gadgets</a>, <a
href="#">More...</a>
            </p>
            <h3>
              Shop Now for Mother's Day!
            </h3>
            <p>
              Earlybird Mother's Day specials. <a href="#">Shop early, save on
shipping!</a>
            </p><a href="#" class="more">More stuff for her...</a>
          </div>
        </li>
        <li class="mega">
          <a href="#">Stuff for kids</a>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </li>
        <li class="mega">
          <a href="#">Stuff for pets</a>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </li>
        <li class="mega">
          {% if not user.is_authenticated %}
            <a href="#">Login</a>
            <div>
              <a href="/twitter/auth/">login via Twitter</a><br \>
              <a href="adsd">login via Foursquare</a><br \>
            </div>
          {% else %}
            <a href="#">log out</a>
          {% endif %}
        </li>
      </ul>
  </div>
  <!-- End Navigation -->

  <!-- Begin Faux Columns -->
  <div id="faux">

  <!-- Begin Left Column -->
  <div id="leftcolumn">
    {% block content %}  {% endblock %}
  </div>
  <!-- End Left Column -->

  <!-- Begin Right Column -->
  <div id="rightcolumn">
    This is right column.
  </div>
  <!-- End Right Column -->

</div>
<!-- End Faux Columns -->

<!-- Begin Footer -->
<div id="footer"> This is the Footer </div>
<!-- End Footer -->

</div>
<!-- End Wrapper -->
</body>
</html>
