{% extends "base/layout2.html" %}
	{% block right %}
        <script language="JavaScript">
        function checkAll(field)
        { 
        for (i = 0; i < field.length; i++)
	   field[i].checked = true ;
        } 

        function uncheckAll(field)
        {
        for (i = 0; i < field.length; i++)
	  field[i].checked = false ;
        }  
        </script>
	<div class="row">

	  <div class="span8">
	    <h1>Find Your Friends</h1>
	      <br>
          <table class="table">
            <tbody>
              {% if friends_list %}
              <form action="{% url friend_follow_multiple %}" name="FollowForm" method="post">
              {% csrf_token %}
              <input type="submit" value="Follow checked friends" />

              {% for resulting_user in friends_list %}
                {% include "contact_importer/_search.html" %}
              {% endfor %}
              <input type="button" name="CheckAll" value="Check All"
               onClick="checkAll(document.FollowForm.my_follow_list)">
              <input type="button" name="UnCheckAll" value="Uncheck All"
              onClick="uncheckAll(document.FollowForm.my_follow_list)"> 
             </form>
              {% else %}
              {% if importing_profile == "home" %}
               You can import your contacts with clicking "import contacts" button on the right bar. We don't store any information about your friends
              {% else %}
              You already followed all {{ importing_profile }} friends or none of your {{ importing_profile }} friends registered for wish4me.
              {% endif%}
              {% endif %}
            </tbody>
          </table>
        
          </div>
    
          <table class="table">
  <div class="span2">
    <div class="row">
          <a href="javascript: openwindow('{% url facebook_login %}')">
            <img src="/site_media/images/social-logos/facebook.png"/>
          </a>
        </div>
        <div class="row">
          {% if facebook_profile_activated %}
            <a href="{% url contact_importer_home importing_profile="facebook" %}"><span class="label label-warning">import contacts</span></a>
          {% else %}
            <span class="label label-default">not activated</span>
          {% endif %}
        </div>
        <div class="row"><hr></div>
        <div class="row">
          <a href="javascript: openwindow('{% url openid-login %}')">
            <img src="/site_media/images/social-logos/google-openid.png"/>
          </a>
        </div>
        <div class="row">
          {% if google_profile_activated %}
            <a href="{% url contact_importer_home importing_profile="google" %}"><span class="label label-warning">import contacts</span></a>
          {% else %}
            <span class="label label-default">not activated</span>
          {% endif %}
        </div>
        <div class="row"><hr></div>
        <div class="row">
        <a href="javascript: openwindow('{% url twitter_oauth_auth %}')">
          <img src="/site_media/images/social-logos/twitter.png"/>
        </a>
        </div>
        <div class="row">
          {% if twitter_profile_activated %}
            <a href="{% url contact_importer_home importing_profile="twitter" %}"><span class="label label-warning">import contacts</span></a>
          {% else %}
            <span class="label label-default">not activated</span>
          {% endif %}
        </div>
        <div class="row"><hr></div>
        <div class="row">
          <a href="javascript: openwindow('{% url foursq_oauth_auth %}')">
            <img src="/site_media/images/social-logos/foursquare.png"/>
          </a>
        </div>
        <div class="row">
          {% if foursq_profile_activated %}
            <a href="{% url contact_importer_home importing_profile="foursquare" %}"><span class="label label-warning">import contacts</span></a>
          {% else %}
            <span class="label label-default">not activated</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

          </table>

{% endblock %}

