<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta
      name="description"
      content="Wish site to keep track of your wishes and publicize them">
  <meta
      name="author"
      content="Mesutcan Kurt, Orçun Avşar, Engin Manap, Oğuz Yarımtepe">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{% block title %}{{ title }}{% endblock %}</title>

  <link
      rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/fluid960/reset.css" media="screen" />
  <link
      rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/fluid960/text.css" media="screen" />
  <link
      rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/fluid960/grid.css" media="screen" />
  <link
      rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/fluid960/layout.css" media="screen" />
  <link
      rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/fluid960/nav.css" media="screen" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css">

  <script src="{{ MEDIA_URL }}js/libs/modernizr-2.0.6.min.js"></script>

<SCRIPT language="JavaScript1.2">
  function openwindow(urlToOpen) {
    window.open(urlToOpen,"mywindow","menubar=1,resizable=1,width=520,height=360");
  }
</SCRIPT>

</head>

<body>
  <div class="container_16">
    <div class="grid_16">
      <h1 id="branding">
        <a href="{% url welcome_page %}">Wish4me</a>
      </h1>
    </div>
    <div class="clear"></div>
    {% block menu %}
      <div class="grid_16">
        <ul class="nav main">
          {% if user.is_authenticated %}
            <li>
              <a href="#">My wishes</a>
              <ul>
                <li> <a href="{% url wish_home %}">Wish Home</a> </li>
                <li> <a href="#">Submenu 3</a> </li>
              </ul>
            </li>
          {% else %}
            <li>
              <a href="#">My Temporary wishes</a>
              <ul>
                <li> <a href="{% url wish_list_wishlist %}">Show my Temporary wish list</a> </li>
                <li> <a href="{% url wish_add_wishlist %}">Add a new Temporary wish list</a> </li>
                <li> <a href="#">Submenu 3</a> </li>
              </ul>
            </li>
          {% endif %}
          <li>
            <a href="#">Menu 2</a>
            <ul>
              <li> <a href="#">Submenu 1</a> </li>
              <li> <a href="#">Submenu 2</a> </li>
              <li> <a href="#">Submenu 3</a> </li>
            </ul>
          </li>
          <li>
            <a href="#">Menu 3</a>
            <ul>
              <li> <a href="#">Submenu 1</a> </li>
              <li> <a href="#">Submenu 2</a> </li>
              <li> <a href="#">Submenu 3</a> </li>
            </ul>
          </li>
          <li>
            <a href="#">Search</a>
            <ul>
              <li> <a href="{% url user_search %}">users</a> </li>
              <li> <a href="#">Submenu 2</a> </li>
              <li> <a href="#">Submenu 3</a> </li>
            </ul>
          </li>
          {% if not user.is_authenticated %}
            <li>
              <a href="#">Login Via...</a>
              <ul>
                <li> <a href="javascript: openwindow('{% url openid-login %}')">Google</a> </li>
                <li> <a href="javascript: openwindow('{% url facebook_login %}')"> Facebook </a> </li>
                <li> <a href="javascript: openwindow('{% url twitter_oauth_auth %}')">twitter</a> </li>
                <li> <a href="javascript: openwindow('{% url foursq_oauth_auth %}')">Foursquare</a> </li>
              </ul>
            </li>
          {% else %}
            <li>
              <a href="#">Add Another Account Via...</a>
              <ul>
                <li> <a href="javascript: openwindow('{% url openid-login %}')">Google</a> </li>
                <li> <a href="#">Submenu 2</a> </li>
                <li> <a href="javascript: openwindow('{% url twitter_oauth_auth %}')">twitter</a> </li>
              </ul>
            </li>
            <li class="secondary">
              <a href="{% url user_logout %}" title="Logout">Logout</a>
            </li>
            <li class="secondary">
              <a href="{% url user_profile %}" title="Profile">Profile</a>
            </li>
    	    {% endif %}
        </ul>
      </div>
    {% endblock %}
    <div class="clear"> </div>
    <div style='margin-top:10px' class="grid_16"> </div>
    {% block content %}  {% endblock %}

    <div class="clear"></div>

    <div class="grid_16" id="site_info">
      <div class="box"> <p>License information some footer info.</p> </div>
    </div>
    <div class="clear"> </div>
  </div>

  <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js">
  </script>

  <!-- scripts concatenated and minified via ant build script-->
  <script src="{{ MEDIA_URL }}js/plugins.js"></script>
  <script src="{{ MEDIA_URL }}js/script.js"></script>
  <!-- end scripts-->

  <!-- Google analytics include.
       This must be just before closing body -->
  {% include "include/analytics.html" %}

</body></html>
