<div class="row">
{% if paginator_objects.object_list %}
<div class="pagination">
  <ul>
    {% if paginator_objects.has_previous %}
      <li>
        <a href="?page={{ paginator_objects.previous_page_number }}">Prev</a>
      </li>
    {% endif %}
    <li class="disabled" >
      <a href="#">
        Page {{ paginator_objects.number }} of
        {{ paginator_objects.paginator.num_pages }}
      </a>
    </li>
    {% if paginator_objects.has_next %}
      <li>
        <a href="?page={{ paginator_objects.next_page_number }}">Next</a>
      </li>
    {% endif %}
  </ul>
</div>
{% endif %}
</div>
