<div class="row">
  <div class="span5">
    <div class="row">
      <div class="span3">
        <div class="row well" style="margin-bottom: 30px; border-radius: 40px 10px 5pt 40px; border-width: 5px 1px 5px 5px;">
          <div class="span3">
            <h2>
              Add New Wishlist
            </h2>
          </div>
        </div>
      </div>
      <div class="span2">
        <div class="row well" style="padding-top: 1px; margin-bottom: 2px; margin-top: 20px; padding-bottom: 1px; padding-left: 0px; border-left-width: 0px; border-top-width: 3px; border-right-width: 3px; border-radius: 0px 10px 0px 0px;">
          <div class="span2">
            <form class="form-inline" method="POST" action="{% url wishlist-add %}" style="margin-bottom: 0px;">
              {% csrf_token %}
              <input type="text" name="title"placeholder="Name" style="width: 100px; height: 13px;">
            </form>
          </div>
        </div>
      </div>
      <div class="span2">
        <div class="row well" style="padding-top: 1px; padding-bottom: 1px; margin-bottom: 2px; padding-left: 0px; border-left-width: 0px; border-bottom-width: 3px; border-right-width: 3px; border-radius: 0px 0px 10px 0px;">
          <div class="span2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
