{% include "wishlist/_add_wishlist.html" %}
                <div class="modal fade" id="myModal">
                  <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3>Remove Wishlist</h3>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure?</p>
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="btn" id="removeWishlist">Save changes</a>
                    <a href="#" data-dismiss="modal" class="btn btn-primary">Close</a>
                  </div>
                </div>
  {% for wishlist in wishlists %}
  <div class="row">
    <div class="span5">
      <div class="row">
        <div class="span3">
          <div class="row well" style="border-width: 5px 1px 0px 5px; border-radius: 40px 10px 0px 0px; margin-bottom: 0px;">
            <div class="span3">
              <h2>
                <a href="{% url wish-list wishlist.id %}">{{ wishlist.title }}</a>
              </h2>
            </div>
          </div>
        </div>
        <div class="span2">
          <div class="row well" style="padding-top: 1px; margin-bottom: 2px; margin-top: 20px; padding-bottom: 1px; padding-left: 0px; border-left-width: 0px; border-top-width: 3px; border-right-width: 3px; border-radius: 0px 10px 0px 0px;">
            <div class="span2">
              <form class="form-inline" method="POST" action="{% url wishlist-rename wishlist.id %}" style="margin-bottom: 0px;">
                {% csrf_token %}
                <input type="text" name="new_title"placeholder="Rename" style="width: 100px; height: 13px;">
              </form>
            </div>
          </div>
        </div>
        <div class="span2">
          <div class="row well" style="padding-top: 1px; padding-bottom: 1px; margin-bottom: 2px; padding-left: 0px; border-left-width: 0px; border-bottom-width: 3px; border-right-width: 3px; border-radius: 0px 0px 10px 0px;">
            <div class="span2">
              {% if not is_last_wishes %}
                <a data-toggle="modal" href="#myModal" onClick="$('#removeWishlist').attr('href', '{% url wishlist-remove wishlist.id %}')">Remove</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row well" style="border-width: 0px 5px 5px 5px; border-radius: 0px 20px 20px 20px;">
    <div class="span9">
      {% include "wishlist/_list_wish_table.html" %}
    </div>
  </div>
  {% endfor %}
