{% include "wishlist/_add_wishlist.html" %}
                <div class="modal fade" id="myModal">
                  <form id="removeWishlistForm" action="" method="POST" >
                    {% csrf_token %}
                    <div class="modal-header">
                      <a class="close" data-dismiss="modal">×</a>
                      <h3>Remove Wishlist</h3>
                    </div>
                    <div class="modal-body">
                      <div id="removeHelp" hidden="false">
                        <p>If you remove this wishlist, all wishes under this list will be removed too.</p>
                        <br/>
                        <p id="moveText">To move the wishes before, just select a list to move:</p>
                        <select name="wishlist_id" id="removeSelection" rel="popover" data-content="If you select the list you are about to remove, wishes in it will be deleted" data-original-title="Move to" onmouseover="$('#removeSelection').popover('show');">
                          {% for wishlist in wishlists %}
                            <option id="removeSelection-{{ wishlist.id }}"value="{{ wishlist.id  }}">{{ wishlist.title }}</option>
                          {% endfor %}
                        </select> 
                        <br/>
                        <br/>
                        <br/>
                      </div>
                      <p class="pull-right">Are you sure you want to proceed?</p>
                      <br/>
                    </div>
                    <div class="modal-footer">
                      <button class="btn" id="removeWishlistFormSubmit" type="submit" >Remove wishlist</button>
                      <a href="#" data-dismiss="modal" class="btn btn-primary">Close</a>
                    </div>
                  </form>
                </div>
  {% for wishlist in wishlists %}
  <div class="row">
    <div class="span5">
      <div class="row">
        <div class="span3">
          <div class="row well" style="border-width: 5px 1px 0px 5px; border-radius: 40px 10px 0px 0px; margin-bottom: 0px; height: 40px;">
            <div class="span3">
              <h2>
                <a href="{% url wish-list wishlist.id %}">{{ wishlist.title }}</a>
              </h2>
            </div>
          </div>
        </div>
        <div class="span2">
          <div class="row well" style="padding-top: 1px; margin-bottom: 2px; margin-top: 20px; padding-bottom: 1px; padding-left: 0px; border-left-width: 0px; border-top-width: 3px; border-right-width: 3px; border-radius: 0px 10px 0px 0px;">
            <div class="span2">
              <form class="form-inline" method="POST" action="{% url wishlist-rename wishlist.id %}" style="margin-bottom: 0px;">
                {% csrf_token %}
                <input type="text" name="new_title"placeholder="Rename" style="width: 100px; height: 13px;">
                <span  id="span_is_private-{{ wishlist.id }}" rel="popover" data-content="Changes wishes to private, and default privacy  setting to 'private'. Deselecting does not change wish states." data-original-title="Privacy Control" 
                                                                                                            onmouseover="$('#span_is_private-{{ wishlist.id }}').popover('show')">
                  <button class="btn btn-info 
                                              {% if wishlist.is_private %}
                                                active
                                              {% endif%}
                                              " data-toggle="button" value="is_private" type="button" name="is_private-button-{{ wishlist.id }}" style="padding: 2px 5px;" 
                                                                                                            onclick="setPrivacy({{ wishlist.id }}, '{% url wishlist-setPrivacy wishlist.id %}');">
                    <i class="icon-ban-circle"></i>
                  </button>
                </span>
                  
                <a data-toggle="modal" href="#myModal" onClick="$('#removeWishlistForm').attr('action', '{% url wishlist-remove wishlist.id %}');
                                                                {% if wishlist.wish_count < 1 %}
                                                                  $('#removeHelp').attr('hidden', 'true');
                                                                {% else %}
                                                                  $('#removeHelp').removeAttr('hidden');
                                                                {% endif %}
                                                                $('#removeSelection-{{ wishlist.id}}').attr('selected', 'selected');
              ">{% if not is_last_wishes %}
                  <button class="btn btn-danger" type="button" style="padding:2px 5px;">
                     <i class="close">x</i>
                  </button>
                {% endif %}</a>
              </form>
            </div>
          </div>
        </div>
        <div class="span2">
          <div class="row well" style="padding-top: 1px; padding-bottom: 1px; margin-bottom: 2px; padding-left: 0px; border-left-width: 0px; border-bottom-width: 3px; border-right-width: 3px; border-radius: 0px 0px 10px 0px;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row well" style="border-width: 0px 5px 5px 5px; border-radius: 0px 20px 20px 20px;">
    <div class="span9">
      {% include "wishlist/_list_wish_table.html" %}
    </div>
  </div>
  {% endfor %}
