{% extends "base/layout1_bs.html" %}
{% load list %}

{% block left %}
    <div class="container">
      <div class="row">
        <div class="span7">
          <div class="hero-unit">
          <h3><img src="/site_media/images/gift.jpg"/>Create wishlists, Share your wishes...</h3>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
lobortis pretium massa ac lobortis. Pellentesque habitant morbi tristique.</p>
          </div>
        </div>
        <div class="span8">
          {% create_list "Recent Wishes" recent_wishes "[{'description': {'width': 6},}]" %}
        </div>
      </div>
    </div> <!-- /container -->
{% endblock %}

{% block right %}
  <div class="row">
  <ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Login with</a>
  </li>
  <li>
    <a href="#">or Create an account</a>
  </li>
  </ul>
    <div class="span2">
      <img src="/site_media/images/social-logos/facebook.png"/>
    </div>
    <div class="span2">
      <img src="/site_media/images/social-logos/google-openid.png"/>
    </div>
    <div class="span2">
      <img src="/site_media/images/social-logos/twitter.png"/>
    </div>
    <div class="span2">
      <img src="/site_media/images/social-logos/foursquare.png"/>
    </div>
  </div>
{% endblock %}

