<!-- Layout used for welcome page -->
{% extends "base/base.html" %}

{% block navigation %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url homePage %}">Wish4Me</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">{{ page_title }}</a></li>
              <li><a href="{% url helpPage %}">Help</a></li>
            </ul>
            <ul class="nav pull-right">
              <form class="navbar-search" action="{% url user_search %}" method="POST">
                {% csrf_token %}
                <input type="text" class="search-query" name="search_query"
                       placeholder="Search wishes or users...">
              </form>
              <li class="dropdown" id="menu1">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                  {{ user.username }}
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url user_profile %}">Profile</a></li>
                  <!--<li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>-->
                  <li class="divider"></li>
                  <li><a href="{% url user_logout %}">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span2">
      {% block left %}
        <ul class="nav nav-list">
          <li class="nav-header">
            Wishes
          </li>
          <li>
            <a href="{% url friend-activity %}"><i class="icon-user"></i>Friend activity</a>
          </li>
          <li>
            <a href="{% url my-activity %}"><i class="icon-user"></i>My wishes</a>
          <li class="nav-header">
            My Wishlists
          </li>
          <li>
            <a href="{% url wishlist-home %}"><i class="icon-book"></i>Manage wishlists</a>
          </li>
          <li class="nav-header">
            Friends
          </li>
          <li>
            <a href="{% url friend_all_list %}"><i class="icon-user"></i>Show friends</a>
          </li>
          <li>
            <a href="{% url contact_importer_home importing_profile="home" %}"><i class="icon-search"></i>Find friends</a>
          </li>
        </ul>
      {% endblock %}
    </div>
    <div class="span10">
      {% block messages %}
        {% if messages %}
          {% for message in messages %}
            <div class="row">
              {% ifequal message.level 40 %}
                <div class="span9 alert alert-error">
                  <a class="close" data-dismiss="alert">×</a>
                  <h4 class="alert-heading">Opps!</h4>
                  {{ message }}
                </div>
              {% endifequal %}
              {% ifequal message.level 20 %}
                <div class="span9 alert alert-info">
                  <a class="close" data-dismiss="alert">×</a>
                  <h4 class="alert-heading">Info!</h4>
                  {{ message }}
                </div>
              {% endifequal %}
              {% ifequal message.level 25 %}
                <div class="span9 alert alert-success">
                  <a class="close" data-dismiss="alert">×</a>
                  <h4 class="alert-heading">Ok!</h4>
                  {{ message }}
                </div>
              {% endifequal %}
              {% ifequal message.level 30 %}
                <div class="span9 alert alert-warning">
                  <a class="close" data-dismiss="alert">×</a>
                  <h4 class="alert-heading">Warning!</h4>
                  {{ message }}
                </div>
              {% endifequal %}
            </div>
          {% endfor %}
        {% endif %}
      {% endblock %}
      {% block right %} {% endblock %}
      {% include "_pagination.html" %}
    </div>
  </div>
</div>
{% endblock %}
