{% if user.is_authenticated %}
   {% get_comment_form for wish as form %}
   <form action="{% comment_form_target %}" class= "well" method="post">
        {% csrf_token %}
        {% if next %}<input name="next" type="hidden" value="{{ next }}" />{% endif %}
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                {% if field.name != "name" and field.name != "email" and field.name != "url" %}
                    {% if field.errors %}{{ field.errors }}{% endif %}
                    {{ field }}
                {% endif %}
            {% endif %}
        {% endfor %}
        <input class="btn .btn-primary .btn-small" name="Send" type="submit" />
   </form>
{% else %}
    I'm sorry, but you must be <a href="javascript:alert({% url homePage %}')">logged in</a> to submit comments.
{% endif %}
